$white: #FFF;
$modal-grey: #4B4B4B;

// Reds
$salmon: #F58765;
$light-salmon: #FFCEBF;

$saddle-brown: #502A00;

// Yellows
$sunglow: #FDCA31;
$creme-brulee: #FFE79E;

// Blues
$turquoise: #48C1BB;
