<div ng-hide="display" class="modal">
  <div class="modal-header">
    <h4 class="modal-header-title">About cuSTEMized</h4>
    <a class="button icon-button close" ng-click="close()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
  <div class="modal-content">
    <p>Conaetsjfasdkjbfaksdjbf;lasdlfja;sdjfna sdfljasdfj nalsdfn ajlsdfjsad ,fnas;dataConaetsjfasdkjbfaksdjbf;lasdlfja;sdjfna sdfljasdfj nalsdfn ajlsdfjsad ,fnas;dataConaetsjfasdkjbfaksdjbf;lasdlfja;sdjfna sdfljasdfj nalsdfn ajlsdfjsad ,fnas;dataConaetsjfasdkjbfaksdjbf;lasdlfja;sdjfna sdfljasdfj nalsdfn ajlsdfjsad ,fnas;dataConaetsjfasdkjbfaksdjbf;lasdlfja;sdjfna sdfljasdfj nalsdfn ajlsdfjsad ,fnas;dataConaetsjfasdkjbfaksdjbf;lasdlfja;sdjfna sdfljasdfj nalsdfn ajlsdfjsad ,fnas;dataConaetsjfasdkjbfaksdjbf;lasdlfja;sdjfna sdfljasdfj nalsdfn ajlsdfjsad ,fnas;dataConaetsjfasdkjbfaksdjbf;lasdlfja;sdjfna sdfljasdfj nalsdfn ajlsdfjsad ,fnas;data</p>
  </div>
</div>
<div ng-hide="display" class="cover">
</div>
