<!-- Main Menu -->
<div class="main view">
  <header>
    <h2>Choose Your Scientist</h2>
  </header>

  <!-- Main Menu: Navigation Menu -->
  <div class="nav-bar">
    <ul class="nav-menu">
      <li class="nav-item">
        <a ng-click="showModal()" id="home" ng-href="/" class="button text-button">
          <i class="fa fa-home" aria-hidden="true"></i>Home
        </a>
      </li>
      <li class="nav-item">
        <a id="more" class="button icon-button">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
