<!-- Start Menu -->
<div class="start container">
  <!-- Start Menu: Title Screen -->
  <div class="title-text">
    <h2>Your Colorful Adventure<h2>
  </div>

  <!-- Start Menu: Navigation Menu -->
  <div class="nav-bar">
    <ul class="nav-menu">
      <li class="nav-item"><a ng-click="showModal()" id="about" class="button">About</a></li>
      <li class="nav-item"><a href="coloring.html" id="go" class="button">GO!</a></li>
    </ul>
  </div>
</div>

<!-- Modal Window -->
<!-- <ng-include src="'views/_modal.html'"></ng-include> -->
