.start {
  width: 100%;
  height: 100%;
  background-image: url("../img/start.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.start .nav-bar {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1.5rem 0;
}

.start .nav-menu {
  display: flex;
  justify-content: space-between;
}

.start .nav-item {
  display: inline;
  font-size: 1.5rem;

  #go {
    background-color: $sunglow;
  }

  #about {
    background-color: $salmon;
  }
}

.start .title-text {
  color: $white;
  font-size: 2.5rem;
  position:absolute;
  text-align: center;
  width: 100%;
}
