.start {
  background-image: url("../img/start.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  .nav-item {
    font-size: 1.5rem;

    #go {
      background-color: $sunglow;
    }

    #about {
      background-color: $salmon;
    }
  }

  .title-text {
    color: $white;
    font-size: 2.5rem;
    position:absolute;
    text-align: center;
    width: 100%;
  }
}
