@font-face {
  font-family: "From Where You Are";
  src: url('/fonts/FromWhereYouAre.ttf') format('truetype');
}
/* line 11, ../sass/partials/_base.scss */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "From Where You Are", Helvetica, Arial, sans-serif;
}

/* line 18, ../sass/partials/_base.scss */
body {
  background-image: url("../icons/wood_tile.jpg");
  background-repeat: repeat;
  background-size: contain;
  color: #502A00;
}

/* line 25, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5 {
  margin: .25rem;
}

/* line 33, ../sass/partials/_base.scss */
h1 {
  font-size: 4rem;
}

/* line 37, ../sass/partials/_base.scss */
h2 {
  font-size: 2rem;
}

/* line 41, ../sass/partials/_base.scss */
h4 {
  font-size: 1.25rem;
}

/* line 45, ../sass/partials/_base.scss */
p {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

/* line 51, ../sass/partials/_base.scss */
.clearfix {
  padding: 0px;
  margin: 0px;
  content: '';
  display: block;
  clear: both;
  height: 0;
}

/* line 60, ../sass/partials/_base.scss */
.view {
  height: 100%;
  width: 100%;
}

/* line 65, ../sass/partials/_base.scss */
header {
  margin: 1rem 0;
  text-align: center;
}

/* line 70, ../sass/partials/_base.scss */
nav {
  margin: 0px;
  width: 76px;
  padding: 6px;
  height: 100%;
  color: white;
  overflow: auto;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

/* line 84, ../sass/partials/_base.scss */
nav.left {
  border-right: 2px solid black;
  left: 0;
}

/* line 88, ../sass/partials/_base.scss */
nav.right {
  border-left: 2px solid black;
  right: 0;
}

/* Fullscreen */
/* line 94, ../sass/partials/_base.scss */
body.fullscreen {
  overflow: hidden;
}

/* line 96, ../sass/partials/_base.scss */
body.fullscreen article {
  position: absolute;
  overflow: hidden;
  width: auto;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}

/* line 106, ../sass/partials/_base.scss */
body.fullscreen article .paperscript {
  height: 100%;
  margin-bottom: 0;
}

/* line 109, ../sass/partials/_base.scss */
body.fullscreen article .canvas,
body.fullscreen article canvas[resize] {
  width: 100%;
  height: 100%;
}

/* Color box */
/* line 116, ../sass/partials/_base.scss */
input {
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  display: none;
}

/* line 124, ../sass/partials/_base.scss */
.colorBox {
  float: left;
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 25px;
  border: 2px solid black;
  /*border: 1px solid black;*/
  cursor: pointer;
  margin: 6px;
  padding: 0px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

/* line 144, ../sass/partials/_base.scss */
#paletteBox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 149, ../sass/partials/_base.scss */
#paletteBox input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 155, ../sass/partials/_base.scss */
input:checked + .colorBox {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  border: 2px solid white;
}

/* line 162, ../sass/partials/_base.scss */
article {
  cursor: pointer;
  position: relative;
  padding: 0px 76px;
  z-index: 0;
}

/* line 169, ../sass/partials/_base.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 176, ../sass/partials/_base.scss */
.nav-bar {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1.5rem 0;
}

/* line 183, ../sass/partials/_base.scss */
.nav-menu {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

/* line 189, ../sass/partials/_base.scss */
.nav-item {
  display: inline-flex;
}

/* line 1, ../sass/partials/_start.scss */
.start {
  background-image: url("../img/start.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 7, ../sass/partials/_start.scss */
.start .nav-item {
  font-size: 1.5rem;
}
/* line 10, ../sass/partials/_start.scss */
.start .nav-item #go {
  background-color: #FDCA31;
}
/* line 14, ../sass/partials/_start.scss */
.start .nav-item #about {
  background-color: #F58765;
}
/* line 19, ../sass/partials/_start.scss */
.start .title-text {
  color: #FFF;
  font-size: 2.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 3, ../sass/partials/_main.scss */
.main .nav-item {
  font-size: 1rem;
}
/* line 7, ../sass/partials/_main.scss */
.main .nav-item #home {
  background: #48C1BB;
  margin: 0 0 0 -1.5rem;
  padding: 0 1rem;
}
/* line 12, ../sass/partials/_main.scss */
.main .nav-item #home i {
  font-size: 1.5rem;
  vertical-align: bottom;
}
/* line 21, ../sass/partials/_main.scss */
.main .nav-item:last-child {
  flex: 0 0 50%;
}

/* line 1, ../sass/partials/_modal.scss */
.modal {
  border: 0.25rem solid #F58765;
  border-radius: 1.5rem;
  background: #FFCEBF;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 10;
}

/* line 18, ../sass/partials/_modal.scss */
.cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(75, 75, 75, 0.6);
  width: 100%;
  height: 100%;
  z-index: 5;
}
/* line 27, ../sass/partials/_modal.scss */
.cover.modal-is-visible {
  display: block;
}

/* line 32, ../sass/partials/_modal.scss */
.modal-header {
  background-color: #F58765;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.25rem;
}

/* line 41, ../sass/partials/_modal.scss */
.modal-content {
  margin: .5rem .75rem;
  max-height: 72%;
  overflow: auto;
  padding: .5rem;
}

/* line 48, ../sass/partials/_modal.scss */
.modal-header, .modal-content {
  top: 0;
}

/* line 2, ../sass/partials/_buttons.scss */
.button {
  color: #FFF;
  text-align: center;
  background-color: transparent;
  box-shadow: 1px 1px 6px 0px #502A00;
  text-decoration: none;
  margin: .5rem;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
/* line 13, ../sass/partials/_buttons.scss */
.button.close {
  background: #F58765;
}
/* line 17, ../sass/partials/_buttons.scss */
.button.text-button {
  border: solid #FFF 0.25rem;
  width: 7rem;
  border-radius: 1.5rem;
  margin: 0 1.5rem;
  padding: .5rem 1rem;
}
/* line 26, ../sass/partials/_buttons.scss */
.button.icon-button {
  border: 0.25rem solid #FFF;
  border-radius: 50%;
  height: 1.75rem;
  margin: 0;
  width: 1.75rem;
}
/* line 34, ../sass/partials/_buttons.scss */
.button i {
  font-size: 1.25rem;
  padding: .25rem;
  vertical-align: middle;
}

/* line 1, ../sass/partials/_scrollbar.scss */
::-webkit-scrollbar {
  width: .5rem;
}

/* line 5, ../sass/partials/_scrollbar.scss */
::-webkit-scrollbar-track {
  border-radius: .25rem;
  background: #FFF;
}

/* line 10, ../sass/partials/_scrollbar.scss */
::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  background: #F58765;
}

/* line 15, ../sass/partials/_scrollbar.scss */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* line 19, ../sass/partials/_scrollbar.scss */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

/*# sourceMappingURL=style.css.map */
